html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: system-ui;
}

#canvasA {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #0a0a0a;
  overflow: hidden;
}

#limKing {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  color: white;
}